.app {
    background-color: #f9f9f9;
    overflow: hidden;

    &__gridContainer {
        display: flex;
        justify-content: center;


    }

    // &__flex-container {
    //     @include iphone {
    //         flex-direction: column;
    //     }
    // }

    &__videoDetail {
        padding-top: 0 !important;
    }

    &__videoList {
        padding: 0px !important;
    }
}

.MuiPaper-root {
    background-color: #f9f9f9;
}

// .MuiGrid-spacing-xs-10>.MuiGrid-item {
//     padding: 40px;
// }